.App {
 display: block;
 width: 100%;
 align-items: center;
justify-content: center;
border: 3px groove rgb(194, 191, 191);
border-radius: 15px;
padding: 50px;
margin-top: 100px;
background-color: rgb(250, 248, 248);
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

